.l-footer {
  height: 55px;
  background-color: color(night-rider);
  color: color(white);
}

.l-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-copyright {
  font-size: 14px;
}